html { overflow-y: scroll; }

body {
    background: #444 url(bg.jpg) repeat 0 0 scroll;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
    font-family:'Roboto';
}

#download:hover{
    color:#fff;
}
