.table-default
{
	width: 100%;
	font: 18px, 'Roboto';
	color: #333333;
}
.head-default
{
	font-weight: normal;
	color: #FEFEFE;
	text-align: left;
	border-left: 1px solid #ffffff;
	padding: 0.4em 1em 0.3em;
	background: #0099ff repeat-x;
}
.body-default
{
	font-size: 18px;
	color: #333333;
	padding: 6px;
	border-right: 1px solid #0099ff;
	border-bottom: 1px solid #0099ff;
	text-align: left;
	background-color: #ffffff;
}
.hoverhead-default
{
	color: #FFFFFF;
	cursor: default;
	background-color: #0099ff;
	border-left: 0px solid #B2B2B2;
}
.hoverheadtd-default
{
	color: #000000;
	background-color: #ffffff;
}
.hoverbody-default
{
	color: #000000;
	background-color: #ffffff;
	cursor: default;
}
.num-default
{
	color: #827272;
	cursor: pointer;
	background-color: #DBDBDB;
	padding: 9px;
	text-align: center;
	border-bottom: 1px solid #0099ff;
	border-left: 1px solid #0099ff;
}
.num-default:hover
{
	color: #ffffff;
	background-color: #0099ff;
}
